name: CI

on: [push]

concurrency:
  group: ${{github.workflow}}-${{github.ref}}
  cancel-in-progress: true

env:
  MAINNET_RPC: ${{ secrets.MAINNET_RPC }}
  SEPOLIA_RPC: ${{ secrets.SEPOLIA_RPC }}

jobs:
  unit-tests:
    name: Run Unit Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: install-tools
        uses: ./.github/workflows/install-tools

      - name: Run tests
        shell: bash
        run: yarn test:unit

  integration-tests:
    name: Run Integration Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: install-tools
        uses: ./.github/workflows/install-tools

      - name: Run tests
        run: yarn test:integration

  lint:
    name: Static Analysis
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: wagoid/commitlint-github-action@v5
      - name: install-tools
        uses: ./.github/workflows/install-tools


      - name: Run Forge formatter and Solhint
        run: yarn lint:check

      - name: Install and run Bulloak
        uses: smol-ninja/bulloak-toolchain@v1
        with:
          test-dir: 'test/unit'
